.admin-background {
  background-image: linear-gradient(to bottom, #7896c6, #245a94);
  overflow: hidden;
  min-height: 100vh;
  margin-left: 70px;
}

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-container {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
  overflow-y: auto; 
  max-height: 80vh; 
}

.taskTabel{
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.taskTabel th,
.taskTabel td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
}

.taskTabel th {
  background-color: inherit;
}

.taskTabel td {
  word-wrap: break-word;
  max-width: 200px;
}

.taskTabel tr {
  height: 40px;  
}

.taskTabel tr:hover {
  background-color: lightblue;
}

.taskTabel td button {
  position: absolute;
}

.taskTabel td button:hover {
  color: red;
}


.taskTabel td button {
  position: absolute;

}

.taskTabel td:nth-child(1){
  width: 120px;
}

.taskTabel td:nth-child(2){
  width: 110px;
}

.taskTabel td:nth-child(3){
  width: 150px;
}

.taskTabel td:nth-child(4),
td:nth-child(5) ,td:nth-child(6) {
  width: 100px;
}

.taskTabel td:nth-child(7){
  width: 110px;
}

.taskTabel td button:hover {
  color: red;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color:  #7896c6;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color:  #245a94;
}

::-webkit-scrollbar-track {
  background-color:  #245a94;
}


/* Open */ 

.admin-background-open{
  background-image: linear-gradient(to bottom, #7896c6, #245a94);
  overflow: hidden;
  min-height: 100vh;
  margin-left: 60px;
  margin-left: 210px;
}

.taskTabelOpen{
  width: 100%;
  border-collapse: collapse;
}

.taskTabelOpen tr:hover {
  background-color: lightblue;

}

.taskTabelOpen tr {
  height: 30px;  
}


.taskTabelOpen th,
.taskTabelOpen td {
  padding: 6px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 14px;

}

.taskTabelOpen td:nth-child(1){
  width: 90px;
}

.taskTabelOpen td:nth-child(2){
  width: 90px;
}

.taskTabelOpen td:nth-child(3){
  width: 130px;
}

.taskTabelOpen td:nth-child(4),
td:nth-child(5) td:nth-child(6) {
  width: 60px;
}

.taskTabelOpen td:nth-child(7){
  width: 110px;
}

