/* styles.css */

body {
  margin: 0;
  padding: 0;
}

.Page-css {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #7896c6, #245a94);
  margin-left: 60px;
}

.task-list { 
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.task-list h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.list-container {
  overflow-x: auto;
}

.home-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.home-table th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.home-table th {
  background-color: inherit;
}

.home-table td {
  word-wrap: break-word;
  max-width: 200px;
}

.home-table tr:hover {
  background-color: lightblue;
}

.home-table td:first-child {
  font-weight: bold;
}

.home-table td:nth-child(1){
  width: 180px;
}

.home-table td:nth-child(2){
  width: 80px;
}

.home-table td:nth-child(3){
  width: 200px;
}

.home-table td:nth-child(4),
td:nth-child(5) {
  width: 100px;
}

.btn-homepage{
  display: flex;
}

/* open */ 

.Page-css-open{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #7896c6, #245a94);
  margin-left: 200px;
}

.task-list-open{
  width: 900px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 18px;
}

.home-table-open td:first-child {
  font-weight: bold;
}

.home-table-open td:nth-child(1){
  width: 160px;
}

.home-table-open td:nth-child(2){
  width: 60px;
}

.home-table-open td:nth-child(3){
  width: 180px;
}

.home-table-open td:nth-child(4),
td:nth-child(5) {
  width: 90px;
}